

#about-me {
    background: rgba($color: #cdf1ff, $alpha: 1.0);
    padding: 250px 0;
    margin-top: -20vh;
    p{
        line-height: 1.7rem;
    }
    
    .card {
        margin-top: 20px;
        &-img-top{
            height: 30px;
            background: linear-gradient(to right, lightgreen, yellow);;
        }
        &:hover{
            transform: translate(1%, -2%);
            box-shadow: 0 .125rem 1rem rgba(0,0,0,.2)!important;
            transition: box-shadow ease .3s, transform ease .3s;
        }
    }
}