.experience {
    display: flex;
    flex-flow: column;
    justify-content: left;
    text-align: left;
    background-color: lightblue;
    margin-top: -100px;
    padding: 200px 0;
}

.jobs{
    list-style-type: none;
    padding-left: 0;
    &__container {
        display: flex;
        flex-flow: row;
    }
    &__icon-container,
    &__details {
        display: flex;
        flex-flow: column;
    }

    &__details{
        position: relative;
        &::before {
            content: " ";
            clear: both;
            position: absolute;
            left: -52px;
            top: 70px;
            border-left: 5px solid #aaa;
            width: 5px;
            height: calc(100% - 30px);
        }
    }
    &__icon-container {
        width: 200px;
    }

    &__title {
        font-weight: bold;
    }

    &__icon {
        height: 100%;
        width: 100%;
        background-size: 60% 60%;
        background-color: lightblue;
        padding: 20px;
    }

    #icn-here-technologies {
        background: url('https://here.navigation.com/north-america/sites/files/north-america/header_logo.png') no-repeat center top ;
    }

    &__location {
        color: rgba($color: #fcfcfc, $alpha: 1.0);
    }
    &__description {
        margin-top: 20px;
    }
}